/********************************************
               RESET CSS
 *******************************************/

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
}
 body {
   line-height: 1;
}
 ol, ul {
   list-style: none;
}
 blockquote, q {
   quotes: none;
}
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
}
 table {
   border-collapse: collapse;
   border-spacing: 0;
}
 a{ 
	text-decoration:none;
}
 /*******************************************
				  Custom CSS
 *******************************************/

 /*************** Mobile Style *************/
 @import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Patrick+Hand&display=swap');
/* set html style */
html{
   /* set html font size */
   font-size: 10px;
   box-sizing: border-box;
}
/* set body style */
body {
   /* set body margin */
   margin:0 auto;
   width:100%;
	line-height: 1.5; 
}
*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}
/* set nav style, let nav bar on the top center in this page */
#nav.nav{
   display:inline-block;
   width: 100%;
   /* let the nav in the center */
   margin: 0 auto;
   text-align: center;
   /* set nav background color */
	background-color:#ff8b8b;
   border:0.1rem solid #ff8b8b;
}
#nav.nav .nav-link{
   /* set font color, size, font-family */
	color: #f9f7e8;
	font-size: 3rem;
   text-decoration: none;
   font-family: 'Chela One', cursive;
}
/* change nav text position */
#nav.nav :nth-child(1){
   margin-left: 4rem;
}
/* change a:hover color */
#nav.nav .nav-link:hover{
   color:#61bfad;
   animation-name: nav-link-hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
/* set main style */
#main.main{
  width:100%;
  /* use margin to let main page is in the center */
  margin: 0px auto;
  /* change main page background color */
  background-color: #61bfad;
}
/* set Home page style */
#home.home{
   /* change home page background color */
   background-color:#61bfad;
   /* let home page text is in the center */
   text-align: center;
}
/* set h1 style */
h1.page-title{
   /* change font-size, font-family, color and padding */
   font-size: 3rem;
   /* using the same font-family with nav */
   font-family: 'Chela One', cursive;
   color:#f9f7e8;
   padding:2rem;
}
/* set paragraph of home page's style */
#home>p{
   /* change font-family, color and font-size */
   /* using another font-family */
   font-family:'Patrick Hand', cursive;
   color:#f9f7e8;
   font-size:1.5rem;
}
/* set about page style */
#about.about{
   background-color:#f9f7e8;
   /* add border, let the layout more hierarchical sense */
   border:6rem solid #ff8b8b;
   text-align:center;
   margin:0 auto;
   font-size:1.5rem;
   padding:1rem 2rem;
   color:#61bfad;
   font-family: 'Patrick Hand', cursive;
}
/* set about page title style */
/* let it is same with h1 */
.about>.section-title{
   font-size:3rem;
   font-family: 'Chela One', cursive;
   color:#f9f7e8;
   padding:2rem;
   background-color: #61bfad;
   /* add border, let title background color become smaller */
   border:2rem solid #f9f7e8;
}
/* set image size, let the image change size according to the size of the screen */
img.about-image{
   width:30%;
}
/* set contact page style */
#contact.contact{
   background-color:#61bfad;
   text-align:center;
   margin:0 auto;
   font-size:1.5rem;
   padding:1rem 6rem;
   color:#f9f7e8;
   font-family: 'Patrick Hand', cursive;
}
/* set contact page title style */
/* let it is same with h1 */
.contact>.section-title{
   font-size:3rem;
   font-family: 'Chela One', cursive;
   color:#f9f7e8;
   padding:2rem;
}
form.contact-form{
   text-align: center;
   width:95%;
   padding-top:3rem;
   padding-bottom: 3rem;
   /* change form text position */
   text-align: left;
   color:#f9f7e8;
   /* add border, highlight the form */
   border:0.5rem solid #f9f7e8;
   background-color: #ff8b8b;
}
/* set label style */
label.contact-form-label{
   font-size:1.5rem;
   /* change font-family, let it is same with paragraph font-family */
   font-family: 'Patrick Hand', cursive;
}
/* change input and textarea position */
input.contact-form-input,
textarea.contact-form-input{
   margin-right:10rem;
   width:100%;
}
/* change button font-family and font-size */
button{
   width:10rem;
   font-family: 'Patrick Hand', cursive;
   font-size:1rem;
}
/* set footer style */
footer{
   background-color:#ff8b8b;
   color:#f9f7e8;
   text-align:center;
   padding:2rem;
}
/********* Desktop style *********/
/* change the style when the screen is greater than 1250px */
@media (min-width:1250px){
   #nav.nav .nav-link{
      font-size: 5rem;
      margin:5rem;
      padding:8rem;
   }
   #main.main{
      width:100vw;
    }
    /* set home page height */
   #home.home{
      height:77rem;
   }
   /* change font-size, let the h1 become bigger */
   h1.page-title{
      font-size: 5rem;
      padding-top:10rem;
   }
   #home>p{
      font-size:3.5rem;
      width:80%;
      text-align: center;
      padding-left:24rem;
      padding-top:3rem;
   }
   #about.about{
      border:10rem solid #ff8b8b;
      font-size:3.5rem;
      height:92rem;
   }
   /* change font-size, let the title become bigger */
   .about>.section-title{
      font-size:5rem;
   }
   img.about-image{
      width:30%;
      height:40%;
   }
   #contact.contact{
      font-size:3.5rem;
      height:92rem;
   }
   /* change font-size, let the title become bigger */
   #contact>.section-title{
      font-size:5rem;
   }
   label.contact-form-label{
      font-size:3rem;
   }
   button{
      font-size:2rem;
      width:20rem;
   }
   footer{
      width:100%;
      margin:0 auto;
      max-width:1200px;
      font-size:2rem;
   }
   
}
/* change the style when the screen width is between 760px and 1250px */
@media (min-width:760px) and (max-width:1250px){
   #nav.nav .nav-link{
      font-size: 4rem;
      margin:1rem;
      padding:3rem;
   }
   #home.home{
      height:60rem;
   }
   h1.page-title{
      font-size: 4rem;
      padding-top:7rem;
   }
   #home>p{
      font-size:2.5rem;
      width:90%;
      padding-left:15rem;
      padding-top:2rem;
   }
   #about.about{
      border:8rem solid #ff8b8b;
      font-size:2.5rem;
      height:80rem;
   }
   .about>.section-title{
      font-size:4rem;
   }
   img.about-image{
      width:20%;
      height:auto;
   }
   #contact.contact{
      font-size:2.5rem;
   }
   #contact>.section-title{
      font-size:4rem;
   }
   label.contact-form-label{
      font-size:2.5rem;
   }
   button{
      font-size:1.7rem;
      width:17rem;
   }
   footer{
      width:100%;
      margin:0 auto;
      max-width:1200px;
      font-size:1.8rem;
   }
   
}
