/********************************************
               RESET CSS
 *******************************************/

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
}
 body {
   line-height: 1;
}
 ol, ul {
   list-style: none;
}
 blockquote, q {
   quotes: none;
}
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
}
 table {
   border-collapse: collapse;
   border-spacing: 0;
}
 a{ 
	text-decoration:none;
}
 /*******************************************
				  Custom CSS
 *******************************************/

 /*************** Mobile Style *************/

/* set html style */
html{
   /* set html font size */
   font-size: 10px;
   border:border-size;
}
/* set body style */
body {
   /* set body margin */
   margin:0 auto;
   width:100%;
	line-height: 1.5; 
}
*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}
/* set nav style */
#nav.nav{
   display:inline-block;
   width: 100%;
   /* let the nav in the center */
   margin: 0 auto;
   text-align: center;
   /* set nav background color */
	background-color: orange;
   border:0.1rem solid orange;
}
#nav.nav .nav-link{
   /* set font color, size, font-family */
	color: white;
	font-size: 3rem;
   text-decoration: none;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#nav.nav :nth-child(1){
   margin-left: -4rem;
}
#nav.nav .nav-link:hover{
   color:olive;
   animation-name: nav-link-hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
/* set main style */
#main.main{
  width:100%;
  margin: 0px auto;
  background-color: olive;
}
/* set Home page style */
#home.home{
   background-color:olive;
   text-align: center;
}
h1.page-title{
   font-size: 3rem;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color:white;
   padding:2rem;
}
#home>p{
   font-family:Arial, Helvetica, sans-serif;
   color:orange;
   font-size:1.5rem;
}
#about.about{
   background-color:white;
   border:6rem solid orange;
   text-align:center;
   margin:0 auto;
   font-size:1.5rem;
   padding:1rem 2rem;
   color:olive;
}
.about>.section-title{
   font-size:3rem;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color:white;
   padding:2rem;
   background-color: olive;
   border:2rem solid white;
}
img.about-image{
   width:30%;
}
#contact.contact{
   background-color:olive;
   text-align:center;
   margin:0 auto;
   font-size:1.5rem;
   padding:1rem 6rem;
   color:orange;
}
.contact>.section-title{
   font-size:3rem;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color:white;
   padding:2rem;
}
form.contact-form{
   text-align: center;
   width:80%;
   padding-top:3rem;
   padding-bottom: 3rem;
   text-align: left;
   color:white;
   border:0.5rem solid white;
   background-color: orange;
}
input.contact-form-input,
textarea.contact-form-input{
   margin-right:10rem;
   width:92%;
}
footer{
   background-color:orange;
   color:white;
   text-align:center;
   padding:2rem;
}
/********* Desktop style *********/
@media (min-width:760px){
}